.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:1024px) {
  .profile {
    flex-direction: row;
    width: 880px;
    justify-content: flex-start;
    padding: 36px 0 0;
  }
}