.profile__box {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 190px 18px;
  column-gap: 10px;
  row-gap: 14px;
}

@media screen and (min-width:1024px) {
  .profile__box {
    grid-template-columns: 294px 18px;
    column-gap: 18px;
    row-gap: 16px;
  }
}