.header{
  padding: 28px 27px 32px;
  border-bottom: 1px solid rgba(84,84,84,.7);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 28px 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 41px 0 45px;
  }
}