.profile__edit-btn{
  grid-column: 2;
  grid-row: 1;
  align-self: center;
  width: 18px;
  height: 18px;
  background-image: url('../../../images/EditButton.svg');
  background-repeat: no-repeat;
  background-color: black;
  background-size: 18px 18px;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity .25s linear;
}

.profile__edit-btn:hover{
  opacity: 0.6;
}

@media screen and (min-width:1024px) {
  .profile__edit-btn{
    width: 24px;
    height: 24px;
    background-size: 24px 24px;
  }
}