.popup__close-btn {
  align-self: flex-end;
  background: url(../../../images/CloseIcon.svg) no-repeat;
  background-position: 50%;
  background-size: 20px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: -36px;
  right: 0;
  transition: opacity .25s linear;
}

.popup__close-btn:hover {
  opacity: .8;
}

@media screen and (min-width:1024px) {
  .popup__close-btn{
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
  }
}