.card__like-btn{
  background-image: url(../../../images/like_disabled.svg);
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: 50%;
  width: 22px;
  opacity: 1;
  transition: opacity .25s linear;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.card__like-btn:hover{
  opacity: 0.5;
}