.popup__submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  width: 238px;
  height: 46px;
  margin: 45px 0 0;
  padding: 0;
  background-color: black;
  border-radius: 2px;
  border: none;
  color: white;
  opacity: 1;
  transition: opacity .25s linear;
  cursor: pointer;
  text-align: center;
}

.popup__submit-btn:hover {
  opacity: .8;
}

@media screen and (min-width:1024px) {
  .popup__submit-btn {
    width: 358px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
    margin: 48px 0 0;
  }
}